## Predict The Energy used

<p>
Modern economies depend on the reliable and affordable delivery of electricity. Yet many places in the world are still affected by power outages.
</p>
<p>
One significant cause of power outages is overloading. Overloading occurs when too much power is drawn from an electric circuit at once. This can be avoided if we know when excess electricity is going to be used. Heating and cooling appliances consume the most power in a household.
</p>
In this challenge, we try to predict the electricity usage of heating and cooling appliances in a household based on internal and external temperatures and other weather conditions. Each observation measures electricity in a 10-minute interval. The temperatures and humidity have been averaged for 10-minute intervals.

In [1]:
import numpy as np
import pandas as pd

In [2]:
TrainData = pd.read_csv('train.csv')
TrainData.head()

,Observation,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,Energy
0,1111,22.700000,37.200,21.000000,38.000000,23.390000,37.290000,22.832857,34.942857,20.500000,...,45.360000,20.20,38.663333,12.80,760.050000,62.000000,3.5,28.0,5.65,70
1,1112,21.500000,41.045,20.500000,39.133333,22.926667,39.526667,21.700000,34.126667,18.633333,...,34.663333,19.73,37.933333,8.47,764.166667,48.166667,8.0,26.5,-1.92,210
2,1113,21.666667,38.000,22.600000,35.700000,21.890000,36.590000,22.000000,35.530000,19.000000,...,38.545000,19.79,39.430000,10.60,757.600000,57.000000,2.0,27.0,2.40,50
3,1114,23.290000,38.530,21.671429,38.000000,24.290000,36.200000,23.100000,35.090000,22.042857,...,38.600000,22.60,36.194286,11.60,760.600000,63.000000,1.0,40.0,4.67,50
4,1115,24.000000,42.560,26.830000,34.356000,26.530000,40.333333,24.500000,40.900000,21.500000,...,44.230000,22.60,44.090000,17.70,756.983333,63.000000,1.0,21.5,10.40,250

In [3]:
TestData = pd.read_csv('test.csv')
TestData.head()

,Observation,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint
0,50001,21.100000,39.90,19.290000,41.260000,21.500000,40.700000,18.89,41.200000,18.088889,...,21.600000,47.090000,18.100000,44.90,2.70,733.633333,98.166667,2.0,34.833333,2.43
1,50002,22.600000,39.03,20.790000,40.463333,22.290000,38.290000,20.29,36.700000,20.760000,...,23.760000,39.266667,19.390000,37.50,7.27,756.666667,82.000000,2.0,40.000000,4.40
2,50003,21.000000,35.59,19.790000,34.900000,21.166667,35.833333,20.39,33.090000,18.000000,...,22.600000,34.126667,18.200000,39.79,6.05,751.250000,50.000000,6.5,34.500000,-3.70
3,50004,20.566667,37.59,20.566667,35.700000,20.166667,37.000000,22.00,35.326667,17.700000,...,20.666667,36.966667,18.000000,41.29,9.35,758.716667,58.333333,1.0,25.166667,1.48
4,50005,21.500000,38.70,18.566667,42.030000,22.500000,38.900000,20.00,39.000000,19.633333,...,23.390000,45.326667,20.133333,43.20,3.03,758.850000,95.000000,2.0,60.333333,2.25

In [4]:
y_train = TrainData.Energy
TrainData.drop(['Energy','Observation'],  axis=1, inplace=True)
TrainData.head()

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint
0,22.700000,37.200,21.000000,38.000000,23.390000,37.290000,22.832857,34.942857,20.500000,42.826667,...,22.700000,45.360000,20.20,38.663333,12.80,760.050000,62.000000,3.5,28.0,5.65
1,21.500000,41.045,20.500000,39.133333,22.926667,39.526667,21.700000,34.126667,18.633333,44.663333,...,22.926667,34.663333,19.73,37.933333,8.47,764.166667,48.166667,8.0,26.5,-1.92
2,21.666667,38.000,22.600000,35.700000,21.890000,36.590000,22.000000,35.530000,19.000000,46.200000,...,21.890000,38.545000,19.79,39.430000,10.60,757.600000,57.000000,2.0,27.0,2.40
3,23.290000,38.530,21.671429,38.000000,24.290000,36.200000,23.100000,35.090000,22.042857,43.625714,...,24.890000,38.600000,22.60,36.194286,11.60,760.600000,63.000000,1.0,40.0,4.67
4,24.000000,42.560,26.830000,34.356000,26.530000,40.333333,24.500000,40.900000,21.500000,49.090000,...,23.390000,44.230000,22.60,44.090000,17.70,756.983333,63.000000,1.0,21.5,10.40

In [5]:
from sklearn.preprocessing import MaxAbsScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
def EnergyPredictor():
    
    TrainData = pd.read_csv('train.csv')
    TestData = pd.read_csv('test.csv')
    
    y_train = TrainData.Energy
    TrainData.drop(['Observation','Energy'],  axis=1, inplace=True)
    TestData.drop('Observation',  axis=1, inplace=True)
    
    X_train = TrainData
    X_test = TestData
    
    scaler = MaxAbsScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    
    Model = RandomForestRegressor(n_estimators = 144,n_jobs = -1, oob_score = True, random_state = 0).fit(X_train_scaled, y_train)
    
    predEnergy = Model.predict(X_test_scaled)
    
    return predEnergy

In [6]:
Energy = EnergyPredictor()
Energy

array([ 55.13888889,  90.625     ,  62.91666667, ...,  86.25      ,
        72.77777778, 182.36111111])

In [7]:
import pandas 
df = pandas.DataFrame(data={"Observation": TestData['Observation']})
df.to_csv("test-2.csv", sep=',',index=False)

In [9]:
csv_input = pandas.read_csv('test-2.csv')
csv_input['Energy'] = Energy
csv_input.to_csv('test-2.csv', index=False)

In [10]:
pandas.read_csv('test-2.csv')

      Observation      Energy
0           50001   55.138889
1           50002   90.625000
2           50003   62.916667
3           50004   75.763889
4           50005   42.222222
5           50006   59.444444
6           50007  140.486111
7           50008   42.013889
8           50009  186.944444
9           50010   31.666667
10          50011   47.361111
11          50012   76.250000
12          50013   56.319444
13          50014  101.250000
14          50015   55.833333
15          50016  103.472222
16          50017   63.541667
17          50018  375.694444
18          50019   53.125000
19          50020   83.402778
20          50021   79.791667
21          50022  239.722222
22          50023  110.000000
23          50024   77.986111
24          50025   67.083333
25          50026   66.736111
26          50027  225.277778
27          50028  300.069444
28          50029   44.861111
29          50030   50.694444
...           ...         ...
3915        53916   65.486111
3916        53917  129.861111
3917        53918   49.305556
3918        53919  114.791667
3919        53920   79.930556
3920        53921   61.736111
3921        53922   55.902778
3922        53923   59.444444
3923        53924   47.777778
3924        53925   57.777778
3925        53926   70.833333
3926        53927   77.083333
3927        53928  121.319444
3928        53929  127.916667
3929        53930   95.694444
3930        53931   54.791667
3931        53932  155.138889
3932        53933   78.958333
3933        53934   85.416667
3934        53935  142.777778
3935        53936   53.333333
3936        53937   61.111111
3937        53938   71.041667
3938        53939   58.819444
3939        53940  119.027778
3940        53941   45.208333
3941        53942   48.819444
3942        53943   86.250000
3943        53944   72.777778
3944        53945  182.361111

[3945 rows x 2 columns]